TELEGRAPH_API_KEY=
JWT_SECRET=
INFLUX_URL=
INFLUX_TOKEN=
INFLUX_ORG=
INFLUX_BUCKET=
ADMIN_PASSWORD=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=
MONGO_URI=
LOGTAIL_SOURCE_TOKEN=
LOGTAIL_INGESTING_HOST=